/* BODY AND SVG SECTION */

body {
    margin: 0;
    padding: 0;
}

.svg_svg {
    z-index: -1;
}

/* SIDEBAR SECTION */

.sidebar {
    left: 0;
    top: 0;
    /**/
    border-right: 3px solid #2A9C4A;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    background-color: white;
    /**/
    padding: 5px;
    margin: 0;
    text-align: center;
    font-family: "Montserrat";
    /**/
    width: 480px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar_movement {
    position: fixed;
    left: 20px;
    top: 10px;
    width: 50px;
    height: 30px;
    /**/
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    /**/
    background-color: white;
    border: 3px solid #2A9C4A;
    border-radius: 15px;
    font-family: "Montserrat";
    /**/ 
    transition: left 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    z-index: 2;
}

.sidebar_movement:hover {
    background-color: #2A9C4A;
    color: white;
}

.sidebar_movement p {
    transition: transform 0.3s ease;
    display: inline-block;
}


/* SCHEDULE SECTION */

.rasp_list {
    text-align: left;
    margin: 0;
    margin-left: 10px;
}

.block {
    width: auto;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* PROFILE BUTTON SECTION */

.profile {
    background-color: white;
    border: 3px solid #2A9C4A;
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.profile:hover {
    background-color: #2A9C4A;
    color: white;
}

/* LIST BLOCK SECTION */

.lb_time {
    font-weight: 800; 
    font-size: 28px;
    margin: 1px;
}

.lb_route {
    font-weight: 600; 
    font-size: 20px;
    margin: 1px;
}

.lb_num {
    font-weight: 400; 
    font-size: 20px;
    margin: 1px;
}

/* END */